:root {
  color-scheme: dark;
  font-size: 100%;
}

@media (max-width: 640px) {
  :root {
    font-size: 93.75%;
  }
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: #09090b;
  /* bg.default */
  color: #f4f4f5;
  /* text.default */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
